.vscode/**
client/node_modules/**
!client/node_modules/semver/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
tools
.editorconfig
.gitignore
.travis.yml
tsconfig.json
*.map
*.ts
